{% extends 'base1.html.twig' %}

{% block title %}New Conversation{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Create new Conversation</h1>

        {{ include('conversation/_form.html.twig') }}

        <div class="mt-4">
            <a href="{{ path('app_conversation_index') }}" class="btn btn-secondary">Back to list</a>
        </div>
    </div>
{% endblock %}
